#block-list {
  width: 40%;
  padding: 10px;
  border-right: 2px solid #ddd;
  float: left;
}

#block-workspace {
  width: 60%;
  padding: 10px;
  min-height: 400px;
  float: left;
  background: #f5f5f5;
}